h1{
    font-size: 40px;
    font-weight: bold;
    text-align:left;
    color: Blue;
    margin: 0px;
  }

p{
    color:darkgray ;
    text-align: left;
    margin-top: 5ch;
    font-size: 20px;
}

.nav{
    background: Blue
    ;
}

.navbar-brand{
    background: Blue;
    color: white;
    font-size: 35px;
    font-weight: bold;
    
}

.container-fluid{
    background: Blue;
}
.navbar{
background: Blue;
}

.nav-link{
    color: white;
    font-size: 20px;
}

.nav-item{
    color: white;
}

.navbar-toggler{
    border-color: white;
}

.navbar-toggler-icon{
    border-color: white;
}

h2{
    font-size: 35px;
    font-weight: bold;
    text-align:left;
    color: blue;
    margin: 30px;
}